FBASE_APIKEY=<see_https://console.firebase.google.com/>
FBASE_AUTHDOMAIN=<see_https://console.firebase.google.com/>
FBASE_PROJECTID=<see_https://console.firebase.google.com/>
FBASE_STORAGEBUCKET=<see_https://console.firebase.google.com/>
FBASE_MESSAGINGSENDERID=<see_https://console.firebase.google.com/>
FBASE_APPID=<see_https://console.firebase.google.com/>

CLOUD_FUNCTION_SERVER=not-set
CLOUD_FUNCTION_REGION=not-set
